In [2]:
import polars as pl
from gutenberg.acquire import load_etext
from gutenberg.cleanup import strip_headers

# Load Moby Dick
moby_dick = load_etext(2701, mirror='https://gutenberg.pglaf.org/')
moby_dick = strip_headers(moby_dick).strip()

sherlock = load_etext(1661, mirror='https://gutenberg.pglaf.org/')
sherlock = strip_headers(sherlock).strip()

scarlet = load_etext(244, mirror='https://gutenberg.pglaf.org/')
scarlet = strip_headers(scarlet).strip()

df = pl.LazyFrame(
    {
        'index': pl.arange(3, eager=True),
        'authors': ['Hermann Melville', 'Arthur Conan Doyle', 'Arthur Conan Doyle'],
        'books': ['Moby Dick', 'The Adventures of Sherlock Holmes', 'A Study in Scarlet'],
        'texts': [moby_dick, sherlock, scarlet],
    }
)

STOPWORDS = {
    "he", "her", "hers", "herself", "him", "himself", "his", "i", "me", "mine", "my", "myself", 
    "our", "ours", "ourselves", "she", "thee", "their", "them", "themselves", "they", "thou", 
    "thy", "thyself", "us", "we", "ye", "you", "your", "yours", "yourself"
}

# Tokenise
df = df.with_columns(
    pl.col('texts')
    .str.replace_all("[`']", '')
    .str.extract_all('\w+')
    .list.eval(
        pl.element().filter(
            ~pl.element().is_in(STOPWORDS) | ~pl.element().str.contains('.*\d+.*')
        )
    )
    .alias('tokens')
)

In [16]:
row_token_freqs = (
    df
    .explode('tokens')
    .group_by(['index', 'tokens'])
    .agg(pl.len().alias('frequency'))
)

top_k_tokens = (
    row_token_freqs
    .group_by('tokens')
    .agg(pl.sum('frequency').alias('token_freqs'))
    .sort('token_freqs', descending=True)
    .limit(500)
    .select('tokens')
)

z_scores = (
    row_token_freqs
    .join(top_k_tokens, on='tokens', how='inner')
    .select([
        pl.col('*'),
        (pl.col('frequency') - pl.mean('frequency').over('tokens')
            / pl.std('frequency').over('tokens')).alias('z_score')
    ])
)

ColumnNotFoundError: index

In [22]:
import numpy as np

token_counts = np.array([[2, 1, 1, np.nan, np.nan],
                         [1, 2, 1, 1, 1],
                         [np.nan, np.nan, np.nan, 4, 1]])

means = np.nanmean(token_counts, axis=0)
stds = np.nanstd(token_counts, axis=0, ddof=1)

print(means, stds)

token_counts = (token_counts - means) / stds
token_counts

[1.5 1.5 1.  2.5 1. ] [0.70710678 0.70710678 0.         2.12132034 0.        ]

/tmp/ipykernel_40532/2459724113.py:12: RuntimeWarning: invalid value encountered in divide
  token_counts = (token_counts - means) / stds

array([[ 0.70710678, -0.70710678,         nan,         nan,         nan],
       [-0.70710678,  0.70710678,         nan, -0.70710678,         nan],
       [        nan,         nan,         nan,  0.70710678,         nan]])

In [16]:
np.array([0, 1, 4]).std()

np.float64(1.699673171197595)

In [1]:
import polars as pl
from gutenberg.acquire import load_etext
from gutenberg.cleanup import strip_headers

# Load Moby Dick
moby_dick = load_etext(2701, mirror='https://gutenberg.pglaf.org/')
moby_dick = strip_headers(moby_dick).strip()

sherlock = load_etext(1661, mirror='https://gutenberg.pglaf.org/')
sherlock = strip_headers(sherlock).strip()

scarlet = load_etext(244, mirror='https://gutenberg.pglaf.org/')
scarlet = strip_headers(scarlet).strip()

df = pl.DataFrame(
    {
        'index': pl.arange(3, eager=True),
        'authors': ['Hermann Melville', 'Arthur Conan Doyle', 'Arthur Conan Doyle'],
        'books': ['Moby Dick', 'The Adventures of Sherlock Holmes', 'A Study in Scarlet'],
        'texts': [moby_dick, sherlock, scarlet],
    }
)

STOPWORDS = {
    "he", "her", "hers", "herself", "him", "himself", "his", "i", "me", "mine", "my", "myself", 
    "our", "ours", "ourselves", "she", "thee", "their", "them", "themselves", "they", "thou", 
    "thy", "thyself", "us", "we", "ye", "you", "your", "yours", "yourself"
}

df = df.with_columns(
    pl.col('texts')
    .str.replace_all("[`']", '')
    .str.extract_all('\w+')
    .list.eval(
        pl.element().filter(
            ~pl.element().is_in(STOPWORDS) | ~pl.element().str.contains('.*\d+.*')
        )
    )
    .alias('tokens')
# Calculate number of tokens in each text
)

top_token_freqs = (
    df.select(
        pl.col('tokens')
        .explode()
        .value_counts(sort=True)
    )
    .unnest('tokens')
    .limit(500)
)

df = df.explode('tokens')

frequency_df = (
    df
    .filter(
        pl.col('tokens').is_in(top_token_freqs.select('tokens'))
    )
    .group_by(['index', 'tokens'])
    .agg(pl.len().alias('frequency'))
)

unique_tokens = frequency_df.select('tokens').unique().get_column('tokens')

pivoted_df = (
    frequency_df.pivot(
        values='frequency',
        index='index',
        on='tokens',
        aggregate_function='first'
    )
    .fill_null(0)
)

# pivoted_df = (
#     frequency_df
#     .group_by('index')
#     .agg([
#         pl.when(pl.col('tokens') == token)
#         .then(pl.col('frequency'))
#         .otherwise(0)
#         .sum()
#         .alias(token)
#         for token in unique_tokens  # Create a column for each unique token
#     ])
# )


result = (
    df
    .select(['index', 'authors', 'books', 'tokens', 'texts'])
    .unique()
    .join(pivoted_df, on='index', how='left')
)

:

In [73]:
df.select('tokens').dtypes[0] == pl.String

True

In [96]:
df.select('tokens').dtypes[0] == pl.String

True

In [1]:
df.explode('tokens')

frequency_df = (
    df
    .filter(
        pl.col('tokens').is_in(top_token_freqs.select('tokens'))
    )
    .group_by(['index', 'tokens'])
    .agg(pl.len().alias('frequency'))
)
pivoted_df = (
    frequency_df.pivot(
        values='frequency',
        index='index',
        on='tokens',
        aggregate_function='first'
    )
    .fill_null(0)
)

df = (
    df
    .select(['index', 'authors', 'books', 'tokens', 'texts'])
    .unique()
    .join(pivoted_df, on='index', how='left')
)

df

NameError: name 'df' is not defined

In [86]:
columns_to_normalize = [col for col in df.columns if col not in ['index', 'authors', 'books', 'tokens', ]]

print(df.columns)
    
# Calculate mean and standard deviation once
stats = df.select([
    pl.col(columns_to_normalize).mean().alias('mean'),
    pl.col(columns_to_normalize).std().alias('std')
])

# Perform normalization
normalized = df.select([
    pl.col('index'),
    pl.col('authors'),
    pl.col('books'),
    *[((pl.col(col) - pl.col('mean')) / pl.col('std')).fill_nan(0).alias(col)
        for col in columns_to_normalize]
])

normalized.join(stats, how='cross')



# (token_counts - token_counts.mean()) / token_counts.std()

['index', 'authors', 'books', 'texts', 'tokens']

InvalidOperationError: `std` operation not supported for dtype `str`

In [13]:
df = df.with_columns([
    pl.col('tokens')
    .list.eval(
        pl.element()
        .explode()
        .value_counts(sort=True)
        .struct.rename_fields(('token', 'count'))
    )
    .alias('token_counts')
])

# .map_elements(lambda x: pl.fold(
#         acc=pl.struct({'temp': 1}),
#         function=lambda acc, y: acc.extend({y['token']: y['count']}),
#         exprs=x
#     ))

# .map_rows(lambda x: pl.fold(
#     acc=pl.struct(dummy=pl.lit(None)),  # Start with a dummy field
#     function=lambda acc, y: acc.struct.extend(pl.struct({y['token']: y['count']})),
#     exprs=pl.col('token_counts')
# ), return_dtype=pl.Struct([pl.Field('token_counts', pl.Object)]))

In [7]:
# unique_tokens = (
#     df
#     .explode('tokens')  # Explode to have one token per row
#     .select('tokens')   # Select only the tokens column
#     .unique()           # Get unique tokens
#     .to_series()        # Convert to Series
#     .to_list()          # Convert Series to a list of unique tokens
# )

# (
#     df.explode('tokens')
#     .group_by(('authors', 'books', 'tokens'))
#     .agg(
#         pl.len().alias('frequency')
#     )
#     .group_by(['authors', 'books'])
#     .agg([
#             pl.when(pl.col('token') == token)
#             .then(pl.col('frequency'))
#             .otherwise(None)
#             .sum()
#             # .over(['authors', 'books'])
#             .alias(token)
#             for token in unique_tokens  # Create one column for each unique token
#     ])
# )

In [11]:
unique_tokens = exploded.select('token').unique()

# Prepare pivot expressions
pivot_exprs = [
    pl.when(pl.col('token') == token)
    .then(pl.col('frequency'))
    .otherwise(None)
    .sum()
    .over(['authors', 'books'])
    .alias(token)
    for token in unique_tokens.get_column('token')
]

# Apply pivot expressions
pivoted = exploded.group_by(['authors', 'books']).agg(pivot_exprs)

return pivoted.select(
    ['authors', 'books'] + 
    [pl.col(token).fill_null(0) for token in unique_tokens.collect().get_column('token')]
)

StructFieldNotFoundError: token

This error occurred with the following context stack:
	[1] 'select' failed
	[2] 'select' input failed to resolve
	[3] 'unique' input failed to resolve

In [43]:
top_tokens = df.select(
    pl.col('tokens')
    .explode()
    .value_counts(sort=True, normalize=True)
).unnest('tokens').head(500)

In [48]:
token_freqs = df.group_by(('authors', 'books')).agg(
    pl.col('tokens')
    .list.explode()
    .value_counts(sort=True, normalize=True)
    .alias('token_freqs')
)

# Alternative that preserves all columns
token_freqs = df.with_columns(
    pl.col('tokens')
    .list.eval(
        pl.element()
        .value_counts(sort=True, normalize=True)
        .struct.rename_fields(('token', 'frequency'))
    )
    .list.eval(
        pl.element().filter(
            pl.element().struct.field('token').is_in(top_tokens.select('tokens'))
        )
    )
    .alias('token_freqs')
)

token_freqs

SchemaError: invalid series dtype: expected `Struct`, got `str`

In [19]:
token_counts = df.select([
    pl.col('authors'),
    pl.col('books'),
    pl.col('tokens').list.explode().alias('token')
]).group_by(('authors', 'books', 'token')).count()

ComputeError: Series length 3 doesn't match the DataFrame height of 369571

In [17]:
token_counts.select('token_counts').schema

Schema([('token_counts', List(Struct({'token': String, 'count': UInt32})))])

In [38]:
# Calculate word frequencies
word_freqs = token_counts.with_columns([
    pl.col('token_counts').struct.field('count')
])

word_freqs

shape: (3, 7)
┌──────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┐
│ authors      ┆ books       ┆ texts       ┆ tokens      ┆ token_count ┆ token_count ┆ count       │
│ ---          ┆ ---         ┆ ---         ┆ ---         ┆ ---         ┆ s           ┆ ---         │
│ str          ┆ str         ┆ str         ┆ list[str]   ┆ u32         ┆ ---         ┆ struct[2]   │
│              ┆             ┆             ┆             ┆             ┆ struct[2]   ┆             │
╞══════════════╪═════════════╪═════════════╪═════════════╪═════════════╪═════════════╪═════════════╡
│ Hermann      ┆ Moby Dick   ┆ MOBY-DICK;  ┆ ["MOBY",    ┆ 219454      ┆ {{"the",138 ┆ {"of",6592} │
│ Melville     ┆             ┆             ┆ "DICK", …   ┆             ┆ 13},{"of",6 ┆             │
│              ┆             ┆ or, THE     ┆ "orphan"]   ┆             ┆ 592}}       ┆             │
│              ┆             ┆ WHALE.      ┆             ┆             ┆             ┆             │
│              ┆             ┆             ┆             ┆             ┆             ┆             │
│              ┆             ┆ By…         ┆             ┆             ┆             ┆             │
│ Arthur Conan ┆ The         ┆ HOLMES ***  ┆ ["HOLMES",  ┆ 105956      ┆ {{"the",526 ┆ {"I",3038}  │
│ Doyle        ┆ Adventures  ┆             ┆ "The", …    ┆             ┆ 3},{"I",303 ┆             │
│              ┆ of Sherlock ┆             ┆ "success"]  ┆             ┆ 8}}         ┆             │
│              ┆ Hol…        ┆             ┆             ┆             ┆             ┆             │
│              ┆             ┆             ┆             ┆             ┆             ┆             │
│              ┆             ┆ The         ┆             ┆             ┆             ┆             │
│              ┆             ┆ Adventures  ┆             ┆             ┆             ┆             │
│              ┆             ┆ …           ┆             ┆             ┆             ┆             │
│ Arthur Conan ┆ A Study in  ┆ A STUDY IN  ┆ ["A",       ┆ 44161       ┆ {{"the",232 ┆ {"and",1321 │
│ Doyle        ┆ Scarlet     ┆ SCARLET     ┆ "STUDY", …  ┆             ┆ 6},{"and",1 ┆ }           │
│              ┆             ┆             ┆ "arca"]     ┆             ┆ 321}}       ┆             │
│              ┆             ┆ By A. Cona… ┆             ┆             ┆             ┆             │
└──────────────┴─────────────┴─────────────┴─────────────┴─────────────┴─────────────┴─────────────┘

In [8]:
# Get top tokens over whole corpus - alternate implementation
top_token_counts = df.select(
    pl.col('tokens')
    .explode()
    .value_counts(sort=True)
    .head(50)
    .struct.field(['tokens', 'count'])
)

top_token_counts

shape: (50, 2)
┌────────┬───────┐
│ tokens ┆ count │
│ ---    ┆ ---   │
│ str    ┆ u32   │
╞════════╪═══════╡
│ the    ┆ 21402 │
│ of     ┆ 10416 │
│ and    ┆ 10214 │
│ to     ┆ 8355  │
│ a      ┆ 8097  │
│ …      ┆ …     │
│ man    ┆ 965   │
│ been   ┆ 955   │
│ up     ┆ 940   │
│ no     ┆ 927   │
│ when   ┆ 919   │
└────────┴───────┘

In [8]:
# Get length of each book
df = df.with_columns(
    pl.col('tokens')
    .list.len()
    .alias('token_count')
)

df

shape: (3, 5)
┌────────────────────┬─────────────────────┬────────────────────┬────────────────────┬─────────────┐
│ authors            ┆ books               ┆ texts              ┆ tokens             ┆ token_count │
│ ---                ┆ ---                 ┆ ---                ┆ ---                ┆ ---         │
│ str                ┆ str                 ┆ str                ┆ list[str]          ┆ u32         │
╞════════════════════╪═════════════════════╪════════════════════╪════════════════════╪═════════════╡
│ Hermann Melville   ┆ Moby Dick           ┆ MOBY-DICK;         ┆ ["MOBY", "DICK", … ┆ 219454      │
│                    ┆                     ┆                    ┆ "orphan"]          ┆             │
│                    ┆                     ┆ or, THE WHALE.     ┆                    ┆             │
│                    ┆                     ┆                    ┆                    ┆             │
│                    ┆                     ┆ By…                ┆                    ┆             │
│ Arthur Conan Doyle ┆ The Adventures of   ┆ HOLMES ***         ┆ ["HOLMES", "The",  ┆ 105956      │
│                    ┆ Sherlock Hol…       ┆                    ┆ … "success"]       ┆             │
│                    ┆                     ┆                    ┆                    ┆             │
│                    ┆                     ┆                    ┆                    ┆             │
│                    ┆                     ┆                    ┆                    ┆             │
│                    ┆                     ┆ The Adventures …   ┆                    ┆             │
│ Arthur Conan Doyle ┆ A Study in Scarlet  ┆ A STUDY IN SCARLET ┆ ["A", "STUDY", …   ┆ 44161       │
│                    ┆                     ┆                    ┆ "arca"]            ┆             │
│                    ┆                     ┆ By A. Cona…        ┆                    ┆             │
└────────────────────┴─────────────────────┴────────────────────┴────────────────────┴─────────────┘

In [22]:
# Get token counts of top tokens for each book
df = df.with_columns(
    pl.col('tokens')
    .list.eval(
        pl.element().filter(
            pl.element().is_in(top_token_counts.select('tokens'))
        )
        .value_counts()
    )
    .list.to_struct()
    .alias('top_token_counts')
)

df

shape: (3, 5)
┌───────────────────┬───────────────────┬───────────────────┬───────────────────┬──────────────────┐
│ authors           ┆ books             ┆ texts             ┆ tokens            ┆ top_token_counts │
│ ---               ┆ ---               ┆ ---               ┆ ---               ┆ ---              │
│ str               ┆ str               ┆ str               ┆ list[str]         ┆ struct[50]       │
╞═══════════════════╪═══════════════════╪═══════════════════╪═══════════════════╪══════════════════╡
│ Hermann Melville  ┆ Moby Dick         ┆ MOBY-DICK;        ┆ ["MOBY", "DICK",  ┆ {{"of",6592},{"a │
│                   ┆                   ┆                   ┆ … "orphan"]       ┆ s",1621},{"the…  │
│                   ┆                   ┆ or, THE WHALE.    ┆                   ┆                  │
│                   ┆                   ┆                   ┆                   ┆                  │
│                   ┆                   ┆ By…               ┆                   ┆                  │
│ Arthur Conan      ┆ The Adventures of ┆ HOLMES ***        ┆ ["HOLMES", "The", ┆ {{"to",2715},{"f │
│ Doyle             ┆ Sherlock Hol…     ┆                   ┆ … "success"]      ┆ or",695},{"are…  │
│                   ┆                   ┆                   ┆                   ┆                  │
│                   ┆                   ┆                   ┆                   ┆                  │
│                   ┆                   ┆                   ┆                   ┆                  │
│                   ┆                   ┆ The Adventures …  ┆                   ┆                  │
│ Arthur Conan      ┆ A Study in        ┆ A STUDY IN        ┆ ["A", "STUDY", …  ┆ {{"been",147},{" │
│ Doyle             ┆ Scarlet           ┆ SCARLET           ┆ "arca"]           ┆ not",170},{"be…  │
│                   ┆                   ┆                   ┆                   ┆                  │
│                   ┆                   ┆ By A. Cona…       ┆                   ┆                  │
└───────────────────┴───────────────────┴───────────────────┴───────────────────┴──────────────────┘

In [247]:
# Get token counts of top tokens for each author - SEE IF THERE IS A WAY TO MERGE TOP_TOKEN_COUNTS STRUCTS FOR FASTER IMPLEMENTATION
df.group_by('authors').agg(
    pl.col('tokens')
    .list.eval(
        pl.element().filter(
            pl.element().is_in(top_token_counts.select('tokens'))
        )
    )
    .explode()
    .value_counts()
    .alias('top_token_counts')
).with_columns(
    pl.col('top_token_counts')
    .list.to_struct()
)

shape: (2, 2)
┌────────────────────┬─────────────────────────────────┐
│ authors            ┆ top_token_counts                │
│ ---                ┆ ---                             │
│ str                ┆ struct[50]                      │
╞════════════════════╪═════════════════════════════════╡
│ Arthur Conan Doyle ┆ {{"out",439},{"upon",658},{"so… │
│ Hermann Melville   ┆ {{"s",1800},{"from",1061},{"th… │
└────────────────────┴─────────────────────────────────┘

In [41]:
# Get token counts of top tokens for each author-book combination
df.group_by(['authors', 'books']).agg(
    pl.col('tokens')
    .list.eval(
        pl.element().filter(
            pl.element().is_in(top_token_counts.select('tokens'))
        )
    )
    .explode()
    .value_counts()
    .alias('top_token_counts')
).with_columns(
    pl.col('top_token_counts')
    .list.to_struct()
)

shape: (3, 3)
┌────────────────────┬─────────────────────────────────┬─────────────────────────────────┐
│ authors            ┆ books                           ┆ top_token_counts                │
│ ---                ┆ ---                             ┆ ---                             │
│ str                ┆ str                             ┆ struct[50]                      │
╞════════════════════╪═════════════════════════════════╪═════════════════════════════════╡
│ Arthur Conan Doyle ┆ The Adventures of Sherlock Hol… ┆ {{"there",343},{"have",904},{"… │
│ Arthur Conan Doyle ┆ A Study in Scarlet              ┆ {{"in",673},{"by",152},{"him",… │
│ Hermann Melville   ┆ Moby Dick                       ┆ {{"at",1236},{"was",1634},{"th… │
└────────────────────┴─────────────────────────────────┴─────────────────────────────────┘